In [15]:
import pandas as pd
import numpy as np

In [16]:
df_fetility = pd.read_csv('API_SP.DYN.TFRT.IN_DS2_EN_csv_v2_129476.csv')
df_urban = pd.read_csv('API_SP.URB.TOTL.IN.ZS_DS2_en_csv_v2_129596.csv')
df_GDP = pd.read_csv('API_NY.GDP.PCAP.CD_DS2_en_csv_v2_248635.csv')

In [28]:
drop_countries = regional_codes = [
    'AFE', 'AFW', 'ARB', 'CEB', 'CSS', 'EAP', 'EAR', 'EAS', 'ECA', 'ECS', 
    'EMU', 'EUU', 'FCS', 'HIC', 'HPC', 'IBD', 'IBT', 'IDA', 'IDB', 'IDX',
    'INX', 'LAC', 'LCN', 'LDC', 'LIC', 'LMC', 'LMY', 'LTE', 'MEA', 'MIC',
    'MNA', 'NAC', 'OED', 'OSS', 'PRE', 'PSS', 'PST', 'SAS', 'SSA', 'SSF',
    'SST', 'TEA', 'TEC', 'TLA', 'TMN', 'TSA', 'TSS', 'UMC', 'WLD'
] 

df_fertility_edited = df_fetility[~df_fetility['Country Code'].isin(drop_countries)]
display(df_fertility_edited[df_fertility_edited['Country Code'].isin(drop_countries)])

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, Unnamed: 69]
Index: []

[0 rows x 70 columns]

In [18]:
df_urban = df_urban.drop(columns=['Indicator Name', 'Indicator Code','Unnamed: 69' ])
df_GDP = df_GDP.drop(columns=['Indicator Name', 'Indicator Code','Unnamed: 69' ])
df_fertility_edited = df_fertility_edited.drop(columns=['Indicator Name', 'Indicator Code','Unnamed: 69','2024' ])

In [19]:
df_urban_edited = df_urban.melt(id_vars=['Country Name', 'Country Code'], var_name='Year', 
value_name='Urban population over total population')

df_fertility_edited = df_fertility_edited.melt(id_vars=['Country Name', 'Country Code'], var_name='Year', 
value_name='Fertirity rate')

df_GDP_edited = df_GDP.melt(id_vars=['Country Name', 'Country Code'], var_name='Year', 
value_name='Capitial GDP in USD')

In [ ]:
foreign_key = ['Country Name', 'Year', 'Country Code']
df_merged = df_fertility_edited.merge(df_urban_edited, on = foreign_key , how='left') \
                                    .merge(df_GDP_edited, on = foreign_key, how='left')

,Country Name,Country Code,Year,Fertirity rate,Urban population over total population,Capitial GDP in USD
0,Aruba,ABW,1960,4.567,50.776,NaN
1,Afghanistan,AFG,1960,7.282,8.401,NaN
2,Angola,AGO,1960,6.708,10.435,NaN
3,Albania,ALB,1960,6.383,30.705,NaN
4,Andorra,AND,1960,2.545,58.450,NaN

In [23]:
df_merged.to_csv('Fertirity_GDP_Urban_Country_Year_1.csv', index = False)

In [24]:
df_final= pd.read_csv('Fertirity_GDP_Urban_Country_Year_1.csv')
display(df_final.head(5))

,Country Name,Country Code,Year,Fertirity rate,Urban population over total population,Capitial GDP in USD
0,Aruba,ABW,1960,4.567,50.776,NaN
1,Afghanistan,AFG,1960,7.282,8.401,NaN
2,Angola,AGO,1960,6.708,10.435,NaN
3,Albania,ALB,1960,6.383,30.705,NaN
4,Andorra,AND,1960,2.545,58.450,NaN